@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400;1,700&display=swap');
*{
    font-family: Lato;
}
.container-fluid{
    box-shadow:0.5rem 1 rem rgba(0,0,0,.5);
    background-color: #fdfcfc;
    width:100%;
    height: 100%;
    border: 10px solid  #d13131;
    margin-top: 30px;
}
.row{
    margin-top:80px;
}
/* Playerss */
.player_0 , .player_1{
    background-color:#f1f7f097;
    text-align:center;
    border-radius:5px;
    margin-top:-70px;

}
/* Current */
.current{
    
    width:30%;
    font-size:1.5rem;
    border-radius:5%;
    text-align:center;
    margin-left :35%;
    color:black;
    font-size:2rem;
}
/* Scors */
.score{
    color:#d13131;
    font-size:4rem;
}
.current_score{
    color:#d13131;
    font-size:2rem;
}
/* Buttons */
.btn_roll{
    margin-left:41%; 
    margin-top:50px;
    width:17%;
    font-size:1.5rem;
    padding:10px;
   
}
.btn_hold{
    padding:10px;
    margin-left:41%;
    margin-top:10px;
    width:17%;
    font-size:1.5rem;
}
.btn_newGame{
    margin-top:30px;
    padding: 10px;
    margin-left:41%;
    width:17%;
    font-size:1.5rem;
}
.btn_hold:hover{
    transform:scale(1.1);
    background-color:darkred;
}
.btn_roll:hover{
    transform:scale(1.1);
    background-color:darkred; 
}
.btn_newGame:hover{
    transform:scale(1.1);
    background-color:darkred; 
}

/* Image Dice */
img{
    margin:20px 40px;
}
.hidden{
    display:none;
}
.player_winn{
    background:url(/asset/golden-winners-cup_1284-18399.avif);
    background-size: cover;
    background-position:center;
   
    
}
.player_winn1{
    background-color:rgba(228, 129, 129, 0.384);
}
/* Mode mobile */
@media screen and (max-width:576px){
    .player_1{
        ma
    }

}